* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  line-height: 20px;
}

/* Header */
.header{
  text-align: center;
  background-color:#ffffff;
  border-bottom: 2px solid gray;
  width: 100%;
}

.nav{
  overflow: hidden;
  height: auto;
 width: 960px;
 margin: 0 auto;
 padding:0px 0px 0px 0px;
}

.top-navbar{
float:right;
margin-right: 0;
padding: 0;
margin-top:20px;
}

header a{
  text-decoration: none;
  color: gray;
  font-size: 20px;
  padding:0px 10px 0px 10px;
}

.name {
  background-color: #4aaaaa;
  color: white;
  display: block;
  float: right;
  margin-right: 30%;
  padding:0px 0px 0px 10px;
}

.portfolio{
border-right: 1px solid gray;
}

.index{
  border-right: 1px solid gray;
}

/*Big box in the middle (index)*/

.about-me{
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  margin-top: 15%;
}

.center{
  overflow: hidden;
  width: 960px;
  margin: 0 auto;
  border: 1px solid #9B9A9A;
}

/*Inside the big box in the middle*/
.pic{
  width:150px;
  height: 150px;
  float: left;
  display: block;
  margin: 10px 10px 0 10px;
}


#horizontal {
  border: 2px solid #cccccc;
  border-radius: 300px/10px;
   height: 0px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

section h1{
  padding-left: 50px;
}

.me{
  padding: 10px;
}

.footer{ 
  width:100%;
 text-align: center;
 border-top: 9px solid #4aaaaa;
 bottom: 0;  
 position: absolute;
 background-color: gray;
}

.inside-footer{
 overflow: hidden;
  background-color: gray;
  margin: 0 auto;
  width: 960px;
}

/* Portfolio */
#name-container{
  padding: 20px;
}

.container-portfolio{
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #9B9A9A;
  width:960px;
  left:50%;
  margin-left:-400px;
  margin-top:150px;
}

.game-container{
  text-align: center;
  overflow: auto;
  margin-left:160px;
 
}

/*Game 1*/
.game1{
  position: relative;
  overflow: auto;
  float:left;
}

.game1 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
  
}

.div-g1{
  background-color: #4aaaaa;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
  color:white;
}

/*Game 2*/
.game2{
  position: relative;
  overflow: auto;
  float:left;
}

.game2 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g2{
  background-color: #4aaaaa;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
  color:white;
}

.game-container-down{

  text-align: center;
  overflow: auto;
  margin-left:160px;
}

/*Game 3*/
.game3{
  position: relative;
  overflow: auto;
  float:left;
}

.game3 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g3{
  background-color: #4aaaaa;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
  color:white;
}

/*Game 4*/
.game4{
  position: relative;
  overflow: auto;
  float:left;
}

.game4 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g4{
  background-color: #4aaaaa;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
  color:white;
}


/*Contact*/
.contact{
  background-color: #ffffff;
  border: 1px solid #9B9A9A;
  float: left;
  margin-left:35%;
  margin-top: 150px;
}

form {
  width: 400px;
  padding: 20px;
}

form div + div {
  margin-top: 1em;
}

  button{
  background-color: #4aaaaa;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 115px;
  /*When the cursor touches the button it changes*/
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 5px;
  }

  button:hover{
    background-color: #357979;
  }

#msg{
  height: 100px;
  width:200px;
}