* {
  box-sizing: border-box;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  line-height: 20px;
}


.nav{
overflow: auto;
width: 100%;
background-color:#ffffff;
border-bottom: 2px solid gray;
}

.top-navbar{
float:right;
padding-top: 20px;
margin-right: 100px;

}

header a{
  text-decoration: none;
  color: gray;
  font-size: 20px;
  padding:0px 10px 0px 10px;
}

.name {
  background-color: #4aaaaa;
  color: white;
  display: block;
  float: right;
  margin-right: 30%;
  padding:0px 10px 0px 10px;
}


.portfolio{
border-right: 1px solid gray;
}

.index{
  border-right: 1px solid gray;
}


.about-me{
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #9B9A9A;
  margin: 100px 100px 100px 100px;
}

.pic{
  width:150px;
  height: 150px;
  float: left;
  display: block;
  margin: 10px 10px 0 10px;
}


#horizontal {
  border: 2px solid #cccccc;
  border-radius: 300px/10px;
   height: 0px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

section h1{
  padding-left: 50px;
}

.me{
  padding: 10px;
}

.footer{
  background-color: gray;
  text-align: center;
  bottom: 0;
  position: absolute;
  width:100%;
  height: 40px;
}


/* Portfolio */

.port{
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #9B9A9A;
  margin: 150px 150px 150px 150px;
}

.game-container{
  text-align: center;
  overflow: auto;
}

/*Game 1*/
.game1{
  position: relative;
  overflow: auto;
  float:left;
}

.game1 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
  
}

.div-g1{
  background-color: lightblue;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
}

/*Game 2*/
.game2{
  position: relative;
  overflow: auto;
  float:left;
}

.game2 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g2{
  background-color: lightblue;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
}

.game-container-down{
  display: inline-block;
  text-align: center;
  overflow: auto;
}

/*Game 3*/
.game3{
  position: relative;
  overflow: auto;
  float:left;
}

.game3 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g3{
  background-color: lightblue;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
}

/*Game 4*/
.game4{
  position: relative;
  overflow: auto;
  float:left;
}

.game4 img{
  height:200px;
  width:200px;
  margin: 20px 20px 20px 20px;
}

.div-g4{
  background-color: lightblue;
  top: 50%;
  position: absolute; 
  width: 201px;
  margin-left:19px;
}


/*Contact*/
.contact{
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #9B9A9A;
  margin: 150px 150px 150px 150px;
}

form {
  /* Sólo para centrar el formulario a la página */
  margin: 0 auto;
  width: 400px;
}

form div + div {
  margin-top: 1em;
}

  .button{
    background-color: #4CAF50; /* Green */
  border: 1px blakc solid;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  }