* {
  box-sizing: border-box;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%239C92AC' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
  line-height: 20px;
}


.nav{
overflow: auto;
width: 100%;
background-color:#ffffff;
position:fixed;
border-bottom: 2px solid gray;
}

.top-navbar{
float:right;
padding-top: 20px;
margin-right: 100px;

}

header a{
  text-decoration: none;
  color: gray;
  font-size: 20px;
  padding:0px 10px 0px 10px;
}

.name {
  background-color: #4aaaaa;
  color: white;
  display: block;
  float: right;
  margin-right: 30%;
  padding:0px 10px 0px 10px;
}


.portfolio{
border-right: 1px solid gray;
}

.index{
  border-right: 1px solid gray;
}